
<article>
  <h2 class='articleTitle'>{{title}}</h2>
  <div class='author'><p>By <a href='"' + {{authorURl}} + '"'>{{author}}</a></p></div>
  <div class='publishDate'>Published {{daysAgo}} days ago on {{publishedOn}}</div>
  <div class='category'>{{category}}</div>
  <div class='articleContent'>{{{body}}}</div>
  <a class='readMore' href=''>Read More . . .</a>
  <a class='readLess' href=''>Read Less</a>
</article>
